@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.landing-footer-wrapper{
    background-color: transparent;
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    border-top: 1px solid #C9C6C3;
}

.landing-footer-wrapper-copyright-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-footer-wrapper-email-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

:root{
    font-family: "Poppins", sans-serif;
}